Django/DjangoUnityTutorial/DjangoUnityTutorial.sln
Unity/Library/
Unity/Temp/
Django/DjangoUnityTutorial/django-unity/
*.pyc
Django/DjangoUnityTutorial/obj/
Django/DjangoUnityTutorial/bin/
Django/DjangoUnityTutorial/ptvs_virtualenv_proxy.py
Unity/obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
web.debug.config
Physics2DSettings.asset
*UnityVS*
Django/DjangoUnityTutorial/uploads/
db.sqlite3